<div class=" content" xmlns="http://www.w3.org/1999/html">
  <div class=" row">
    <div class=" col-md-8">

      <div class=" card">
        <div class=" card-header"><h5 class=" title" style="color:#A3FF01">MACHINE GENERATION</h5></div>
        <div class=" card-body">
          <form>
            <div class="row">
              <div class=" col-md-5 pr-md-1">
                <div class=" form-group">
                  <label> Company (disabled) </label>
                  <input
                    class=" form-control"
                    disabled=""
                    placeholder="Company"
                    type="text"
                    value="GROUND ZERO"
                  />
                </div>
              </div>

              <div class=" col-md-3 px-md-1">
                <div class=" form-group">
                  <label> MACHINE NAME </label>
                  <input
                    class=" form-control"
                    placeholder="MACHINE NAME"
                    type="text"
                    value=""
                  />
                </div>
              </div>
              <br>
              <br>
              <div class=" col-md-4 pl-md-1">
                    <mat-form-field style="top: 1.25em;  margin-top: 2px; height: 30px;">
                      <mat-select placeholder="MACHINE TYPE"
                                  [(value)]="selectedElementGroup" selected>
                          <mat-option value="CTF">CTF</mat-option>
                          <mat-option value="VUL">VUL MACHINE</mat-option>
                          <mat-option value="WEB">WEB</mat-option>
                      </mat-select>
                    </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class=" col-md-6 pr-md-1">
                <div class=" form-group">
                  <label> Creation Date </label>
                  <input
                    class=" form-control"
                    placeholder="Creation Date"
                    type="datetime-local"
                    value=""
                  />
                </div>

              </div>
              <div class=" col-md-6 pl-md-1">
                <div class=" form-group">
                  <label> Expiry Date </label>
                  <input
                    class=" form-control"
                    placeholder="Last Name"
                    type="date"
                    value=""
                  />
                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-12">
                <div class=" form-group">
                  <label> MACHINE DESCRIPTION </label>
                  <input
                    class=" form-control"
                    placeholder="Details"
                    type="text"
                    value=""
                  />

                </div>
              </div>
            </div>
            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <mat-form-field style="top: 1.25em;  margin-top: 2px; height: 30px;">
                  <mat-select placeholder="VULNERABILITY"
                              [(value)]="selectedElementGroup1" selected>
                    <mat-optgroup label="UNIX">
                    <mat-option value="v1">readable_shadow</mat-option>
                    <mat-option value="v2">suid_root_bash</mat-option>
                    <mat-option value="v3">suid_root_less</mat-option>
                      <mat-option value="v4">suid_root_nano</mat-option>
                      <mat-option value="v5">suid_root_vi</mat-option>
                      <mat-option value="v6">writable_groups</mat-option>
                      <mat-option value="v7">writable_passwd</mat-option>
                      <mat-option value="v8">writable_shadow</mat-option>
                      <i class="tim-icons icon-attach-87" (click)="open(var1)"style="cursor: pointer; color: #1d8cf8" rel="tooltip" title="BLOG DETAILS"></i>
                    </mat-optgroup>
                    <mat-optgroup label="WINDOWS">
                      <mat-option value="v1">adobe_utilprintf</mat-option>
                      <mat-option value="v2">easyftp_rce</mat-option>
                      <mat-option value="c3">freefloatftp_user</mat-option>
                    </mat-optgroup>

                  </mat-select>
                </mat-form-field>

              </div>
              <div class=" col-md-4 px-md-1">
                <mat-form-field style="top: 1.25em;  margin-top: 2px; height: 30px;">
                  <mat-select placeholder="DIFFICULTY"
                              [(value)]="selectedElementGroup2" selected>
                    <mat-option value="e">easy</mat-option>
                    <mat-option value="m">medium</mat-option>
                    <mat-option value="h">high</mat-option>

                  </mat-select>
                </mat-form-field>
              </div>
              <div class=" col-md-4 pl-md-1">
                <mat-form-field style="top: 1.25em;  margin-top: 2px; height: 60px;">
                  <mat-select placeholder="MODULE"
                              [(value)]="selectedElementGroup3" selected>
                    <mat-option value="a">bases</mat-option>
                    <mat-option value="b">build</mat-option>
                    <mat-option value="c">encoders</mat-option>
                    <mat-option value="d">generators</mat-option>
                    <mat-option value="e">networks</mat-option>
                    <mat-option value="f">services</mat-option>
                    <mat-option value="g">utilities</mat-option>
                    <mat-option value="h">Vulnerabilities</mat-option>





                  </mat-select>
                </mat-form-field>
              </div>
            </div>
<!------------------------->
            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <mat-form-field style="top: 1.25em;  margin-top: 2px; height: 30px;">
                  <mat-select placeholder="BUILDTYPE"
                              [(value)]="selectedElementGroup4" selected>
                    <mat-optgroup label="PUPPET">
                      <mat-option value="v1">secgen_functions</mat-option>
                      <mat-option value="v2">stdlib</mat-option>

                    </mat-optgroup>
                    <mat-optgroup label="LINUX">
                      <mat-option value="v1">cleanup</mat-option>

                    </mat-optgroup>

                  </mat-select>
                </mat-form-field>

              </div>
              <div class=" col-md-4 px-md-1">
                <mat-form-field style="top: 1.25em;  margin-top: 2px; height: 30px;">
                  <mat-select placeholder="UTILITIES"
                              [(value)]="selectedElementGroup5" selected>
                    <mat-optgroup label="WINDOWS">
                    <mat-option value="e">ollydbg</mat-option>
                    <mat-option value="m">system/disable_aslr</mat-option>
                    <mat-option value="h">system/accounts</mat-option>
                      <mat-option value="h1">system/emet</mat-option>
                      <mat-option value="h2">system/local_security_policy</mat-option>
                      <mat-option value="h3">system/parameterised_accounts</mat-option>
                      <mat-option value="h4">system/powershell_exec </mat-option>
                      <mat-option value="h5">system/puppet_windows</mat-option>
                      <mat-option value="h6">Windows_update</mat-option>
                      <mat-option value="h7">Win_netcat</mat-option>

                    </mat-optgroup>
                    <mat-optgroup label="Unix">
                      <mat-option value="e">armitage</mat-option>
                      <mat-option value="m">exploitdb</mat-option>
                      <mat-option value="h">kali_metapackages</mat-option>
                      <mat-option value="h1">metasploit_framework</mat-option>
                      <mat-option value="h2">sqlmap</mat-option>
                      <mat-option value="h3">Firewall</mat-option>
                      <mat-option value="h4">Audit_tools</mat-option>

                    </mat-optgroup>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class=" col-md-4 pl-md-1">
                <mat-form-field style="top: 1.25em;  margin-top: 2px; height: 60px;">
                  <mat-select placeholder="SERVICES"
                              [(value)]="selectedElementGroup6" selected>

                    <mat-optgroup label="UNIX/Database">
                      <mat-option value="s1">mysql_stretch_compatible</mat-option>
                      <mat-option value="s2">mysql_wheezy_compatible</mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="UNIX/Email">
                      <mat-option value="s3">popa3d</mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="UNIX/ftp">
                      <mat-option value="s4">proftpd</mat-option>
                      <mat-option value="s5">vsftpd</mat-option>
                    </mat-optgroup>
                    <mat-optgroup label="UNIX.http">
                      <mat-option value="s6">apache_bash_cgi</mat-option>
                      <mat-option value="s7">apache_stretch_compatible</mat-option>
                      <mat-option value="s8">apache_wheezy_compatible</mat-option>
                      <mat-option value="s9">lamp</mat-option>
                      <mat-option value="s10">nginx</mat-option>
                      <mat-option value="s11">parameterised_website</mat-option>
                      <mat-option value="s9">php_5_stretch_compatible</mat-option>
                      <mat-option value="s10">php_5_wheezy_compatible</mat-option>
                      <mat-option value="s11">tomcat</mat-option>
                    </mat-optgroup>

                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <!--------------------------------->
            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <mat-form-field style="top: 1.25em;  margin-top: 2px; height: 30px;">
                  <mat-select placeholder="ENCODERS"
                              [(value)]="selectedElementGroup7" selected>
                    <mat-optgroup label="bases">
                      <mat-option value="e1">base64</mat-option>
                    </mat-optgroup>

                    <mat-optgroup label="cipher">
                      <mat-option value="v1">ascii_value_shift</mat-option>
                      <mat-option value="v2">asymmetric_decrypt</mat-option>
                      <mat-option value="c3">bitwise_xor</mat-option>
                      <mat-option value="c3">braille</mat-option>
                      <mat-option value="c3">caesar_shift</mat-option>
                      <mat-option value="c3">dna</mat-option>
                      <mat-option value="c3">morse_code</mat-option>
                      <mat-option value="c3">vigenere</mat-option>

                    </mat-optgroup>
                    <mat-optgroup label="compression">
                      <mat-option value="e1">Huffman</mat-option>

                    </mat-optgroup>

                    <mat-optgroup label="csv">
                      <mat-option value="v1">inputs_to_csv</mat-option>

                    </mat-optgroup>
                    <mat-optgroup label="format">
                      <mat-option value="e1">ascii_art</mat-option>

                    </mat-optgroup>

                    <mat-optgroup label="hash">
                      <mat-option value="v1">bcrypt</mat-option>
                      <mat-option value="v2">lm</mat-option>
                      <mat-option value="c3">md4</mat-option>
                      <mat-option value="c3">md5</mat-option>
                      <mat-option value="c3">mysql_password</mat-option>
                      <mat-option value="c3">ntlm</mat-option>
                      <mat-option value="c3">rmd160</mat-option>
                      <mat-option value="c3">scrypt</mat-option>
                      <mat-option value="c3">sha1</mat-option>
                      <mat-option value="c3">sha1</mat-option>
                      <mat-option value="c3">sha3</mat-option>
                      <mat-option value="c3">sha3 -224</mat-option>
                      <mat-option value="c3">sha3-256</mat-option>
                      <mat-option value="c3">sha3-384</mat-option>
                      <mat-option value="c3">sha3-512</mat-option>
                      <mat-option value="c3">sha224</mat-option>
                      <mat-option value="c3">sha256</mat-option>
                      <mat-option value="c3">sha384</mat-option>
                      <mat-option value="c3">sha512</mat-option>
                      <mat-option value="c3">siphash</mat-option>
                      <mat-option value="c3">whirlpool</mat-option>
                    </mat-optgroup>

                    <mat-optgroup label="html">
                      <mat-option value="v1">markdown_to_html</mat-option>

                    </mat-optgroup>

                    <mat-optgroup label="selector">
                      <mat-option value="v1">concatenate</mat-option>
                      <mat-option value="v2">random_line_selector</mat-option>
                      <mat-option value="c3">random_string_selector</mat-option>
                      <mat-option value="c3">random_string_selector_with_exclusions</mat-option>
                    </mat-optgroup>

                    <mat-optgroup label="string">
                      <mat-option value="v1">1337</mat-option>
                      <mat-option value="v2">binary</mat-option>
                      <mat-option value="c3">dec</mat-option>
                      <mat-option value="c3">hex</mat-option>
                      <mat-option value="c3">oct</mat-option>
                      <mat-option value="c3">rot13</mat-option>
                    </mat-optgroup>


                  </mat-select>
                </mat-form-field>

              </div>
              <div class=" col-md-4 px-md-1">
                <mat-form-field style="top: 1.25em;  margin-top: 2px; height: 30px;">
                  <mat-select placeholder="NETWORKS"
                              [(value)]="selectedElementGroup8" selected>

                    <mat-optgroup label="HOST_ONLY">
                      <mat-option value="s1">private_network_1</mat-option>
                      <mat-option value="s2">private_network_1</mat-option>
                      <mat-option value="s2">private_network_3</mat-option>
                    </mat-optgroup>

                    <mat-optgroup label="PUBLIC">
                      <mat-option value="s3">public_network_1</mat-option>
                      <mat-option value="s3">public_network_2</mat-option>

                    </mat-optgroup>
                  </mat-select>
                </mat-form-field>
              </div>


              <div class=" col-md-4 pl-md-1">
                <mat-form-field style="top: 1.25em;  margin-top: 2px; height: 60px;">
                  <mat-select placeholder="SERVICES"
                              [(value)]="selectedElementGroup9" selected>
                    <mat-option value="a">CTF</mat-option>
                    <mat-option value="b">VUL MACHINE</mat-option>
                    <mat-option value="c">WEB</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <!----------------------------------->

            <div class=" row">
              <div class=" col-md-4 pr-md-1">
                <mat-form-field style="top: 1.25em;  margin-top: 2px; height: 30px;">
                  <mat-select placeholder="WEBAPPS"
                              [(value)]="selectedElementGroup5" selected>
                    <mat-option value="v1">commando</mat-option>
                    <mat-option value="v2">gitlist_040</mat-option>
                    <mat-option value="c3">moinmoin_195</mat-option>
                    <mat-option value="c3">onlinestore</mat-option>
                    <mat-option value="c3">wordpress_1x</mat-option>
                    <mat-option value="c3">wordpress_2x</mat-option>
                    <mat-option value="c3">wordpress_3x</mat-option>
                    <mat-option value="c3">wordpress_4x</mat-option>

                  </mat-select>
                </mat-form-field>

              </div>
              <div class=" col-md-4 px-md-1">
                <mat-form-field style="top: 1.25em;  margin-top: 2px; height: 30px;">
                  <mat-select placeholder="GENERATORS"
                              [(value)]="selectedElementGroup6" selected>
                    <mat-optgroup label="Challenges">
                    <mat-option value="rsa">rsa_challenge</mat-option>
                    <mat-option value="enc">encoded_diff</mat-option>
                    <mat-option value="exf">exif</mat-option>
                     <mat-option value="hsif">hidden_strings_in_image_file</mat-option>
                      <mat-option value="hzif">hidden_zip_in_image_file</mat-option>
                    </mat-optgroup>

                    <mat-optgroup label="Compression">
                      <mat-option value="zi">Zip</mat-option>

                    </mat-optgroup>

                    <mat-optgroup label="Content">
                      <mat-option value="e">address_uk</mat-option>
                      <mat-option value="m">address_us</mat-option>
                      <mat-option value="h">application_name</mat-option>
                    </mat-optgroup>

                    <mat-optgroup label="Domain">
                      <mat-option value="e">easy</mat-option>
                      <mat-option value="m">medium</mat-option>
                      <mat-option value="h">high</mat-option>
                    </mat-optgroup>

                    <mat-optgroup label="Filenames">
                      <mat-option value="e">easy</mat-option>
                      <mat-option value="m">medium</mat-option>
                      <mat-option value="h">high</mat-option>
                    </mat-optgroup>

                    <mat-optgroup label="Flag">
                      <mat-option value="e">easy</mat-option>
                      <mat-option value="m">medium</mat-option>
                      <mat-option value="h">high</mat-option>
                    </mat-optgroup>

                    <mat-optgroup label="Html">
                      <mat-option value="e">easy</mat-option>
                      <mat-option value="m">medium</mat-option>
                      <mat-option value="h">high</mat-option>
                    </mat-optgroup>

                    <mat-optgroup label="images">
                      <mat-option value="e">easy</mat-option>
                      <mat-option value="m">medium</mat-option>
                      <mat-option value="h">high</mat-option>
                    </mat-optgroup>

                    <mat-optgroup label="Key">
                      <mat-option value="e">easy</mat-option>
                      <mat-option value="m">medium</mat-option>
                      <mat-option value="h">high</mat-option>
                    </mat-optgroup>

                    <mat-optgroup label="Messages">
                      <mat-option value="e">easy</mat-option>
                      <mat-option value="m">medium</mat-option>
                      <mat-option value="h">high</mat-option>
                    </mat-optgroup>

                    <mat-optgroup label="Network">
                      <mat-option value="e">easy</mat-option>
                      <mat-option value="m">medium</mat-option>
                      <mat-option value="h">high</mat-option>
                    </mat-optgroup>

                    <mat-optgroup label="Passwords">
                      <mat-option value="e">easy</mat-option>
                      <mat-option value="m">medium</mat-option>
                      <mat-option value="h">high</mat-option>
                    </mat-optgroup>

                    <mat-optgroup label="Random">
                      <mat-option value="e">easy</mat-option>
                      <mat-option value="m">medium</mat-option>
                      <mat-option value="h">high</mat-option>
                    </mat-optgroup>

                    <mat-optgroup label="Structured Content">
                      <mat-option value="e">easy</mat-option>
                      <mat-option value="m">medium</mat-option>
                      <mat-option value="h">high</mat-option>
                    </mat-optgroup>
                  </mat-select>
                </mat-form-field>
              </div>

              <div class=" col-md-4 px-md-1">
                <mat-form-field style="top: 1.25em;  margin-top: 2px; height: 30px;">
                  <mat-select placeholder="GENERATORS"
                              [(value)]="selectedElementGroup6" selected>
                    <mat-optgroup label="Challenges">
                      <mat-option value="rsa">rsa_challenge</mat-option>
                      <mat-option value="enc">encoded_diff</mat-option>
                      <mat-option value="exf">exif</mat-option>
                      <mat-option value="hsif">hidden_strings_in_image_file</mat-option>
                      <mat-option value="hzif">hidden_zip_in_image_file</mat-option>
                    </mat-optgroup>

                  </mat-select></mat-form-field></div>



            </div>
          </form>
        </div>

        <div class=" card-footer">
          <button class=" btn btn-fill btn-danger" type="submit">GENERATE</button>
        </div>
      </div>
    </div>

    <div class=" col-md-4">
      <div class=" card card-user">
        <div class=" card-body">
          <p class=" card-text"></p>
          <div class=" author">
            <div class=" block block-one"></div>
            <div class=" block block-two"></div>
            <div class=" block block-three"></div>
            <div class=" block block-four"></div>
            <a href="javascript:void(0)">
              <img alt="..." class=" avatar" src="assets/img/emilyz.jpg" />

              <h5 class=" title">Mike Andrew</h5>
            </a>
            <p class=" description">SUPER ADMIN</p>
          </div>
          <div class=" card-description">
            Do not be scared of the truth because we need to restart the human
            foundation in truth And I love you like Kanye loves Kanye I love
            Rick Owens’ bed design but the back is...
          </div>
        </div>
        <div class=" card-footer">
          <div class=" button-container">
            <button
              class=" btn btn-icon btn-round btn-facebook"
              href="javascript:void(0)"
            >
              <i class=" fab fa-facebook"> </i>
            </button>
            <button
              class=" btn btn-icon btn-round btn-twitter"
              href="javascript:void(0)"
            >
              <i class=" fab fa-twitter"> </i>
            </button>
            <button
              class=" btn btn-icon btn-round btn-google"
              href="javascript:void(0)"
            >
              <i class=" fab fa-google-plus"> </i>
            </button>


          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<!------------------------------------------------------------------------------------------------------>


<style>
  .dropc .mat-form-field-outline {
    display: flex;
    position: absolute;
    top: 1.25em;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    margin-top: 7px;
    height: 37px;
  }
</style>

