<style>
  a{
  text-emphasis-color: black !important;
  color: black;
  }
</style>
<footer class=" footer">

  <div class=" container-fluid">
    <ul class=" nav">
      <!--<li class=" nav-item">
        <a class=" nav-link" href="https://crc.bahria.edu.pk?ref=bda-footer">
          CYBER RECONNAISSANCE AND COMBAT LAB
        </a>
      </li>-->
      <li class=" nav-item">
        <a class=" nav-link" href="#">
          About Us
        </a>


      </li>
      <li class=" nav-item">
        <a class=" nav-link" href="https://crc.bahria.edu.pk/blogs?ref=bda-footer"> Blog </a>
      </li>
    </ul>
    <div class=" copyright">
      &copy; {{ test | date: "yyyy" }} made by
      <a href="https://crc.bahria.edu.pk?ref=bda-footer" target="_blank"> CYBER RECONNAISSANCE AND COMBAT LAB  </a>

    </div>


  </div>

</footer>
