<!--<div class=" content">-->
<!--  <div class=" row">-->
<!--    <div class=" col-12">-->

<!--      <div class=" card card-chart">-->
<!--        <div class=" card-header">-->
<!--          <div class=" row">-->
<!--            <div class=" col-sm-6 text-left">-->
<!--              <h2 class=" card-title">CTF </h2>-->
<!--              <h5 class=" card-category">CAPTURE THE FLAG </h5>-->

<!--            </div>-->

<!--          </div>-->
<!--        </div>-->
<!--        <div class=" card-header" align="justify">-->
<!--          CTF (Capture The Flag) is a kind of information security competition-->
<!--          that challenges contestants to solve a variety of tasks ranging from-->
<!--          a scavenger hunt on wikipedia to basic programming exercises, to hacking-->
<!--          your way into a server to steal data. In these challenges, the contestant-->
<!--          is usually asked to find a specific piece of text that may be hidden on the-->
<!--          server or behind a webpage.-->
<!--          &nbsp;-->
<!--          </div>-->
<!--        &nbsp;-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  &lt;!&ndash; ************************************************8&ndash;&gt;-->
<!--  <div class=" row">-->
<!--    <div class=" col-12">-->

<!--      <div class=" card card-chart">-->
<!--        <div class=" card-header">-->
<!--          <div class=" row">-->
<!--            <div class=" col-sm-6 text-left">-->
<!--              <h2 class=" card-title">CTF CHALLENGES CATEGIORIES </h2>-->

<!--            </div>-->

<!--          </div>-->
<!--        </div>-->
<!--        <div class=" card-header text-left ">-->

<!--            &lt;!&ndash;-CRYPTOGRAPHY CHALLENGES ACCORDIAN STARST &ndash;&gt;-->
<!--             <p-accordion>-->
<!--            <p-accordion [multiple]="true">-->
<!--              <p-accordionTab header="CRYPTOGRAPHYng serve  CHALLENGES">-->
<!--                In this Category users are provided with multiple type of servers which they can used for exploitation.-->
<!--              <p-accordionTab header="CHALLENGE 1">-->
<!--                Challenge 1 does not have any Front end so only an IP address of-->
<!--                the machine will be provided.-->
<!--                   <table>-->
<!--                    <tbody>-->
<!--                    <tr>-->
<!--                      <i class="tim-icons icon-laptop" (click)="open(mut_mdl)"style="cursor: pointer; color: #1d8cf8" rel="tooltip" title="View Machine Details"></i>&nbsp;&nbsp;-->

<!--                      <i class="fa fa-edit" (click)="open(mutil_cntct)" style="cursor: pointer; color: #00f2c3" rel="tooltip" title="Write Review"></i>&nbsp;&nbsp;-->

<!--                      <button type="button" class="btn btn-danger btn-sm" id="btn1" (click)="changeBtn('btn1', 'ctf1')">Off</button>-->
<!--                      <label>{{this.ctff}}</label>-->
<!--                      <li class="squa-item" angular-textcolor="" material-design="true">{{this.ctff}}</li>-->



<!--<tr> RATE-->
<!--                                <ngb-rating [(rate)]="currentRate">-->
<!--                                 <ng-template let-fill="fill" let-index="index">-->

<!--                                    <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>-->
<!--                                  </ng-template>-->
<!--                                </ngb-rating>-->

<!--                                <pre>Rate: <b>{{currentRate}}</b></pre>-->

<!--                    </tbody>-->
<!--                  </table>-->

<!--              </p-accordionTab>-->
<!--              <p-accordionTab header="CHALLENGE2">-->
<!--                Challenge 2 is based on front end interface so user will have to bypass it in order to access the server adn capture the flag.-->
<!--                <table>-->
<!--                  <tbody>-->
<!--                  <tr>-->
<!--                    <i class="tim-icons icon-laptop" (click)="open(mut_mdl)"style="cursor: pointer; color: #1d8cf8" rel="tooltip" title="View Machine Details"></i>&nbsp;&nbsp;-->

<!--                    <i class="fa fa-edit" (click)="open(mutil_cntct)" style="cursor: pointer; color: #00f2c3" rel="tooltip" title="Write Review"></i>&nbsp;&nbsp;-->

<!--                    <button type="button" class="btn btn-danger btn-sm" id="btn2" (click)="changeBtn('btn2', 'ctf2')">Off</button>-->
<!--                    <label>{{this.cctf}}</label>-->
<!--                    <li class="squa-item" angular-textcolor="" material-design="true">{{this.cctf}}</li>-->



<!--                  <tr> RATE-->
<!--                    <ngb-rating [(rate)]="currentRate">-->
<!--                      <ng-template let-fill="fill" let-index="index">-->

<!--                        <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>-->
<!--                      </ng-template>-->
<!--                    </ngb-rating>-->

<!--                    <pre>Rate: <b>{{currentRate}}</b></pre>-->

<!--                  </tbody>-->
<!--                </table>-->

<!--              </p-accordionTab>-->
<!--              </p-accordionTab>-->
<!--            </p-accordion>-->


<!--          </p-accordion>-->
<!--             &lt;!&ndash;-CRYPTOGRAPHYCHALLENGES ACCORDIAN ENDS &ndash;&gt;-->

<!--          &lt;!&ndash;**********************************************************************&ndash;&gt;-->
<!--          &lt;!&ndash;- STEGNOGRAPHY ACCORDIAN STARST &ndash;&gt;-->
<!--          <p-accordion>-->
<!--            <p-accordion [multiple]="true">-->
<!--              <p-accordionTab header="STEGNOGRAPHY CHALLENGES">-->
<!--                The story begins  as Don Vito Corleone, the head of a New York Mafia family, overseeshis daughter's wedding. His beloved son ichael has just come home from the war, but does not intend to become part of his father's business. T hrough Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family, kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands against the good of the family.-->

<!--                <p-accordionTab header="CHALLENGE 1">-->
<!--                  Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather parallels the young Vito Corleone's rise with his son Michael's spiritual fall, deepening The_Godfather's depiction of the dark side of the American dream. In the early 1900s, the child Vito flees his Sicilian village for America after the local Mafia kills his family. Vito struggles to make a living, legally or illegally, for his wife and growing brood in Little Italy, killing the local Black Hand Fanucci after he demands his customary cut of the tyro's business. With Fanucci gone, Vito's communal stature grows.-->
<!--                </p-accordionTab>-->
<!--                <p-accordionTab header=" CHALLENGE 2">-->
<!--                  After a break of more than  15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third and final story of the fictional Corleone crime family. Two decades have passed, and crime kingpin Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family would one day be completely legitimate.-->
<!--                </p-accordionTab>-->
<!--              </p-accordionTab>-->
<!--            </p-accordion>-->


<!--          </p-accordion>-->
<!--          &lt;!&ndash;- STEGNOGRAPHY ACCORDIAN ENDS &ndash;&gt;-->

<!--          &lt;!&ndash;**********************************************************************&ndash;&gt;-->
<!--          &lt;!&ndash;- BINARY ACCORDIAN STARST &ndash;&gt;-->
<!--          <p-accordion>-->
<!--            <p-accordion [multiple]="true">-->
<!--              <p-accordionTab header="BINARY CHALLENGES">-->
<!--                The story begins  as Don Vito Corleone, the head of a New York Mafia family, overseeshis daughter's wedding. His beloved son ichael has just come home from the war, but does not intend to become part of his father's business. T hrough Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family, kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands against the good of the family.-->

<!--                <p-accordionTab header="CHALLENGE 1">-->
<!--                  Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather parallels the young Vito Corleone's rise with his son Michael's spiritual fall, deepening The_Godfather's depiction of the dark side of the American dream. In the early 1900s, the child Vito flees his Sicilian village for America after the local Mafia kills his family. Vito struggles to make a living, legally or illegally, for his wife and growing brood in Little Italy, killing the local Black Hand Fanucci after he demands his customary cut of the tyro's business. With Fanucci gone, Vito's communal stature grows.-->
<!--                </p-accordionTab>-->
<!--                <p-accordionTab header=" CHALLENGE 2">-->
<!--                  After a break of more than  15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third and final story of the fictional Corleone crime family. Two decades have passed, and crime kingpin Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family would one day be completely legitimate.-->
<!--                </p-accordionTab>-->
<!--              </p-accordionTab>-->
<!--            </p-accordion>-->


<!--          </p-accordion>-->
<!--          &lt;!&ndash;-BINARY ACCORDIAN ENDS &ndash;&gt;-->

<!--                 &lt;!&ndash;**********************************************************************&ndash;&gt;-->
<!--          &lt;!&ndash;-WEB ACCORDIAN STARST &ndash;&gt;-->
<!--          <p-accordion>-->
<!--            <p-accordion [multiple]="true">-->
<!--              <p-accordionTab header="WEB CHALLENGES">-->
<!--                The story begins  as Don Vito Corleone, the head of a New York Mafia family, overseeshis daughter's wedding. His beloved son ichael has just come home from the war, but does not intend to become part of his father's business. T hrough Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family, kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands against the good of the family.-->

<!--                <p-accordionTab header="CHALLENGE1">-->
<!--                  Challenge 1 is web based CTF challenge where multiple flags are stored so user will have to find these flags.-->
<!--                   <table>-->
<!--                    <tbody>-->
<!--                    <tr>-->
<!--                      <i class="tim-icons icon-laptop" (click)="open(mut_mdl)"style="cursor: pointer; color: #1d8cf8" rel="tooltip" title="View Machine Details"></i>&nbsp;&nbsp;-->

<!--                      <i class="fa fa-edit" (click)="open(mutil_cntct)" style="cursor: pointer; color: #00f2c3" rel="tooltip" title="Write Review"></i>&nbsp;&nbsp;-->

<!--                      <button type="button" class="btn btn-danger btn-sm" id="btn3" (click)="changeBtn('btn3', 'webctf3')">Off</button>-->
<!--                      <label>{{this.wctf}}</label>-->
<!--                      <li class="squa-item" angular-textcolor="" material-design="true">{{this.wctf}}</li>-->



<!--                    <tr> RATE-->
<!--                      <ngb-rating [(rate)]="currentRate">-->
<!--                        <ng-template let-fill="fill" let-index="index">-->

<!--                          <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>-->
<!--                        </ng-template>-->
<!--                      </ngb-rating>-->

<!--                      <pre>Rate: <b>{{currentRate}}</b></pre>-->

<!--                    </tbody>-->
<!--                  </table>-->

<!--                </p-accordionTab>-->
<!--                <p-accordionTab header=" CHALLENGE 2">-->
<!--                  After a break of more than  15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third and final story of the fictional Corleone crime family. Two decades have passed, and crime kingpin Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family would one day be completely legitimate.-->
<!--                </p-accordionTab>-->
<!--              </p-accordionTab>-->
<!--            </p-accordion>-->


<!--          </p-accordion>-->
<!--          &lt;!&ndash;-WEB ACCORDIAN ENDS &ndash;&gt;-->

<!--          &lt;!&ndash;**********************************************************************&ndash;&gt;-->
<!--          &lt;!&ndash;-PWN ACCORDIAN STARST &ndash;&gt;-->
<!--          <p-accordion>-->
<!--            <p-accordion [multiple]="true">-->
<!--              <p-accordionTab header="PWN CHALLENGES">-->
<!--                The story begins  as Don Vito Corleone, the head of a New York Mafia family, overseeshis daughter's wedding. His beloved son ichael has just come home from the war, but does not intend to become part of his father's business. T hrough Michael's life the nature of the family business becomes clear. The business of the family is just like the head of the family, kind and benevolent to those who give respect, but given to ruthless violence whenever anything stands against the good of the family.-->

<!--                <p-accordionTab header="CHALLENGE 1">-->
<!--                  Francis Ford Coppola's legendary continuation and sequel to his landmark 1972 film, The_Godfather parallels the young Vito Corleone's rise with his son Michael's spiritual fall, deepening The_Godfather's depiction of the dark side of the American dream. In the early 1900s, the child Vito flees his Sicilian village for America after the local Mafia kills his family. Vito struggles to make a living, legally or illegally, for his wife and growing brood in Little Italy, killing the local Black Hand Fanucci after he demands his customary cut of the tyro's business. With Fanucci gone, Vito's communal stature grows.-->
<!--                </p-accordionTab>-->
<!--                <p-accordionTab header=" CHALLENGE 2">-->
<!--                  After a break of more than  15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third and final story of the fictional Corleone crime family. Two decades have passed, and crime kingpin Michael Corleone, now divorced from his wife Kay has nearly succeeded in keeping his promise that his family would one day be completely legitimate.-->
<!--                </p-accordionTab>-->
<!--              </p-accordionTab>-->
<!--            </p-accordion>-->


<!--          </p-accordion>-->
<!--          &lt;!&ndash;-PWN ACCORDIAN ENDS &ndash;&gt;-->
<!--          <p-accordion>-->

<!--              <p-accordionTab header="TRAINING">-->


<!--                 </p-accordionTab>-->

<!--            </p-accordion>-->


<!--          &nbsp;-->
<!--        </div>-->

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--  &lt;!&ndash; ************************************************8&ndash;&gt;-->


<!--</div>-->
<!--&lt;!&ndash; ************************************************8&ndash;&gt;-->


<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <!-- DROPDOWN -->
          <div class="dropdown" mdbDropdown>

            <!--Trigger-->

          <!-- dropdown Ends -->
          <h4 class=" card-title">ACTIVE MACHINES </h4>
        </div>
        <table class="table">
          <thead>
          <tr>
            <th class="text-center ">#</th>
            <th>MACHINE NAME</th>
            <th>MACHINE TYPE</th>
            <th>LAUNCH DATE</th>
            <th>RETIRED DATE</th>
            <th>DETAILS</th>
          </tr>

          </thead>
          <tbody>
          <!--*************************************Mutilidae Macine***********************************************************-->
          <tr>
            <td class="text-center">1</td>
            <td>ESCALATION </td>
            <td>OS BASED</td>
            <td>1st JANUARY 2021</td>
            <td> 1st  MARCH 2022</td>
            <td>
              <i class="tim-icons icon-laptop" (click)="open(mut_mdl)"style="cursor: pointer; color: #1d8cf8" rel="tooltip" title="View Machine Details"></i>&nbsp;&nbsp;
              <i class="fa fa-edit" (click)="open(mutil_cntct)"  style="cursor: pointer; color: #00f2c3" rel="tooltip" title="Write Review"></i>&nbsp;&nbsp;

            </td>
          </tr>
          <!--****************************************DVWA Machine*****************************************************************-->
          <tr>
            <td class="text-center">2</td>
            <td>VULNIX</td>
            <td>OS BASED</td>
            <td>1st January 2021</td>
            <td>20th MARCH 2021</td>

            <td>
              <i class="tim-icons icon-laptop" (click)="open(dvwa_modl)" style="cursor: pointer; color: #1d8cf8" rel="tooltip" title="View Machine Details"></i>&nbsp;&nbsp;
              <i class="fa fa-edit" (click)="open(dvwa_cntct)" style="cursor: pointer; color: #00f2c3" rel="tooltip" title="Write Review"></i>&nbsp;&nbsp;

            </td>
          </tr>
          <!--*******************************************BWAP MACHINE***********************************************************************-->
          <tr>
            <td class="text-center">3</td>
            <td>TOPLEAK</td>
            <td>OS BASED</td>
            <td>1st January 2021</td>
            <td>1st January 2022</td>
            <td>
              <i class="tim-icons icon-laptop"  (click)="open(bwp_mdl)" style="cursor: pointer; color: #1d8cf8" rel="tooltip" title="View Machine Details"></i>&nbsp;&nbsp;
              <i class="fa fa-edit" (click)="open(bwapp_cntct)" style="cursor: pointer; color: #00f2c3" rel="tooltip" title="Write Review"></i>&nbsp;&nbsp;

            </td>


          </tr>
          <!--******************************************Juice Shop************************************************************************-->
          <tr>
            <td class="text-center">4</td>
            <td>SKYTOWER</td>
            <td>WOS BASED</td>
            <td>1st January 2021</td>
            <td>1st January 2022</td>
            <td>
              <i class="tim-icons icon-laptop" (click)="open(juc_shop)" style="cursor: pointer; color: #1d8cf8" rel="tooltip" title="View Machine Details"></i>&nbsp;&nbsp;
              <i class="fa fa-edit" (click)="open(juice_cntct)" style="cursor: pointer; color: #00f2c3" rel="tooltip" title="Write Review"></i>&nbsp;&nbsp;

            </td>

          </tr>


          </tbody>
        </table>

      </div>
    </div>

  </div>
</div>


<!--**********************************************************************************************-->

<!----- Mutillidae_2 Modal --->
<ng-template #mut_mdl let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="mutilidae-mdl">MUTILLIDAE_2 WEB APP VULNERABLE MACHINE</h4>


    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p align="justify"> Mutillidae II is a free, open source, deliberately vulnerable
      web-application providing a target for web-security enthusiest. Mutillidae has been used
      in graduate security courses, corporate web sec training courses,
      and as an "assess the assessor" target for vulnerability assessment software.</p>
  </div>

  <!--<div class="form-group" align="center">
    <label for="exampleInputPassword1">IP ADDRESS AND PORT NUMBER</label>
    <input type="password" class="form-control" id="exampleInputPassword1" style="width:300px">
  </div>-->
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')" style="width: 500px">OK</button>
  </div>
</ng-template>
<ng-template #mutil_cntct let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="mutil-rat">RATE THIS MACHINE</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <p> Please Give rating to This Machine regarding your Personal Experience </p>
    <ngb-rating [(rate)]="currentRate"></ngb-rating>
    <hr>
    <pre>Rate: <b>{{currentRate}}</b></pre>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">SUBMIT</button>
  </div>
</ng-template>
<!-- Mutillidae_2 modal Ends --->
<!--**********************************************************************************************-->

<!--DVWA modal -->
<ng-template #dvwa_modl let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="dvwa-modell">DVWA</h4>

    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p align="justify">Damn Vulnerable Web App (DVWA) is a PHP/MySQL web
      application that is damn vulnerable.
      Its main goals are to be an aid for security professionals to test their skills and tools in a legal environment,
      help web developers better understand the processes of securing web applications
      and aid teachers/students to teach/learn web application security in a class room environment.</p>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')"style="width: 500px">OK</button>
  </div>
</ng-template>
<ng-template #dvwa_cntct let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="dvwa-rat">RATE THIS MACHINE</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <p> Please Give rating to This Machine regarding your Personal Experience </p>
    <ngb-rating [(rate)]="currentRate"></ngb-rating>
    <hr>
    <pre>Rate: <b>{{currentRate}}</b></pre>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">SUBMIT</button>
  </div>
</ng-template>

<!--**********************************************************************************************-->

<!---- BWAPP modal starts --->
<ng-template #bwp_mdl let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="bwapp-modell">BWAPP</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>bWAPP, or a buggy web application, is a free and open source deliberately insecure web application.

      bWAPP helps security enthusiasts, developers and students to discover and to prevent web vulnerabilities.
      bWAPP prepares one to conduct successful penetration testing and ethical hacking projects. What makes bWAPP
      so unique? Well, it has over 100 web bugs! It covers all major known web vulnerabilities, including all risks
      from the OWASP Top 10 project. The focus is not just on one specific issue... bWAPP is covering a wide range of
      vulnerabilities!

      bWAPP is a PHP application that uses a MySQL database. It can be hosted on Linux/Windows with Apache/IIS and MySQL.
      It is supported on WAMP or XAMPP. Another possibility is to download bee-box, a custom VM pre-installed with bWAPP.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')"style="width: 500px">OK</button>
  </div>
</ng-template>
<ng-template #bwapp_cntct let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="bwapp-rat">RATE THIS MACHINE</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <p> Please Give rating to This Machine regarding your Personal Experience </p>
    <ngb-rating [(rate)]="currentRate"></ngb-rating>
    <hr>
    <pre>Rate: <b>{{currentRate}}</b></pre>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">SUBMIT</button>
  </div>
</ng-template>
<!--**********************************************************************************************-->

<!-- JUICS SHOP -->
<!--**********************************************************************************************-->

<ng-template #juc_shop let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="juice_shop">JUICE SHOP VULNERABLE APP</h4>

  </div>
  <div class="modal-body">
    <p align="justify">The application contains a vast number of hacking challenges of varying difficulty where the
      user is supposed to exploit the
      underlying vulnerabilities. The hacking progress is tracked on a score board. Finding this
      score board is actually one of the (easy) challenges!

      Apart from the hacker and awareness training use case, pentesting proxies or security scanners
      can use Juice Shop as a “guinea pig”-application to check how well their tools cope with JavaScript-heavy
      application frontends and REST APIs.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')" style="width: 500px">OK</button>
  </div>
</ng-template>
<ng-template #juice_cntct let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="juice-rat">RATE THIS MACHINE</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <p> Please Give rating to This Machine regarding your Personal Experience </p>
    <ngb-rating [(rate)]="currentRate"></ngb-rating>
    <hr>
    <pre>Rate: <b>{{currentRate}}</b></pre>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">SUBMIT</button>
  </div>
</ng-template>
<!--- Last = owasp --->
<!--**********************************************************************************************-->

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="0-modell">OWASP BRICKS WEB APP VULNERABLE MACHINE</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p align="justify">Bricks is a web application security learning platform built on PHP and MySQL.
      The project focuses on variations of commonly seen application security issues. Each 'Brick' has
      some sort of security issue which can be leveraged manually or using automated software tools.
      The mission is to 'Break the Bricks' and thus learn the various aspects of web application security.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')"style="width: 500px">Save</button>
  </div>
</ng-template>
<ng-template #last_cntct let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="last-rat">RATE THIS MACHINE</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <p> Please Give rating to This Machine regarding your Personal Experience </p>
    <ngb-rating [(rate)]="currentRate"></ngb-rating>
    <hr>
    <pre>Rate: <b>{{currentRate}}</b></pre>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">SUBMIT</button>
  </div>
</ng-template>
<!--**********************************************************************************************-->

<!---gruyere-->
<ng-template #gru_mdl let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="gru_mdl">GRUYERE WEB APP VULNERABLE MACHINE</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p align="justify">This codelab is built around Gruyere /ɡruːˈjɛər/ - a small, cheesy
      web application that allows its users to publish snippets of text and
      store assorted files. "Unfortunately," Gruyere has multiple security
      bugs ranging from cross-site scripting and cross-site request forgery,
      to information disclosure, denial of service, and remote code execution.
      The goal of this codelab is to g
      uide you through discovering some of these bugs and learning ways to fix
      them both in Gruyere and in general.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('OK')"style="width: 500px">OK</button>
  </div>
</ng-template>
<ng-template #grue_cntct let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="grue-rat">RATE THIS MACHINE</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <p> Please Give rating to This Machine regarding your Personal Experience </p>
    <ngb-rating [(rate)]="currentRate"></ngb-rating>
    <hr>
    <pre>Rate: <b>{{currentRate}}</b></pre>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">SUBMIT</button>
  </div>
</ng-template>
<!--**********************************************************************************************-->

<!-- BADSTOR MODAL ---->
<ng-template #badstore_mdl let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="badstore-mdl">Hi there!</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Hello, World!</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')"style="width: 500px">OK</button>
  </div>
</ng-template>
<ng-template #badstore_cntct let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="bad-rat">RATE THIS MACHINE</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <p> Please Give rating to This Machine regarding your Personal Experience </p>
    <ngb-rating [(rate)]="currentRate"></ngb-rating>
    <hr>
    <pre>Rate: <b>{{currentRate}}</b></pre>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">SUBMIT</button>
  </div>
</ng-template>
<!--**********************************************************************************************-->

<!----HACAZONE --->
<ng-template #hk_mdl let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="hkl-mdl">Hi there!</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Hello, World!</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')"style="width: 500px">OK</button>
  </div>
</ng-template>
<ng-template #hackazone_cntct let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="hack-rat">RATE THIS MACHINE</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <p> Please Give rating to This Machine regarding your Personal Experience </p>
    <ngb-rating [(rate)]="currentRate"></ngb-rating>
    <hr>
    <pre>Rate: <b>{{currentRate}}</b></pre>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">SUBMIT</button>
  </div>
</ng-template>
<!--**********************************************************************************************-->

<!--- XVWA MODAL ------>

<ng-template #xvwa_mdl let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="xvwa-mdl">XVWA WEBA APP VULNERABLE MACHINE</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p align="justify">XVWA is a badly coded web application written in PHP/MySQL that helps
      security enthusiasts to learn application security. It’s not advisable to
      host this application online as it is designed to be “Xtremely Vulnerable”.
      We recommend hosting this application in local/controlled environment and
      sharpening your application security ninja skills with any tools of your own choice.
      It’s totally legal to break or hack into this. The idea is to evangelize web application
      security to the community in possibly the easiest and fundamental way.
      Learn and acquire these skills for good purpose. How you use these skills and knowledge base
      is not our responsibility.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')"style="width: 500px">OK</button>
  </div>
</ng-template>
<ng-template #xvwa_cntct let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="xvwa-rat">RATE THIS MACHINE</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <p> Please Give rating to This Machine regarding your Personal Experience </p>
    <ngb-rating [(rate)]="currentRate"></ngb-rating>
    <hr>
    <pre>Rate: <b>{{currentRate}}</b></pre>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">SUBMIT</button>
  </div>
</ng-template>


<!--******************************WACKO MODAL********************************************-->

<ng-template #wacko_mdl let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="wack-mdl">Hi there!</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Hello, World!</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')"style="width: 500px">Save</button>
  </div>
</ng-template>
<ng-template #wacko_cntct let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="wack-rat">RATE THIS MACHINE</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <p> Please Give rating to This Machine regarding your Personal Experience </p>
    <ngb-rating [(rate)]="currentRate"></ngb-rating>
    <hr>
    <pre>Rate: <b>{{currentRate}}</b></pre>
  </div>


  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">SUBMIT</button>
  </div>
</ng-template>

<!--**********************************************************************************************-->

