<div class=" content" xmlns="http://www.w3.org/1999/html">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card">
        <div class=" card-header">
          <h5 class=" title" style="color:#A3FF01">HACKADEMY - CYBER RANGE</h5>
          <p class=" category">
            AN FYP PROJECT FOR CRC
          <br/>
            BAHRIA UNIVERSITY ISLAMABAD
<!-------------------------------->

            <!----------------------------->
            <a href="https://crc.bahria.edu.pk/">CRC LAB</a>
          </p>

          <div class="card-header">
          <h6 class=" title">ENTER NEW ATTACKS</h6>

          <form method="post" FormData="formdata" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="InputAttackTitle">Attack Title</label>
              <input [(ngModel)]="AttackTitle" type="text" class="form-control" name="AttackTitle" id="InputAttackTitle" placeholder="Enter Attack Title">
            </div>
            <div class="form-group">
              <label for="InputAttackDescripton">Attack Description</label>
              <textarea [(ngModel)]="AttackDescription" class="form-control" name="AttackDescription" id="InputAttackDescripton" placeholder="Enter Attack Description" ></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
          <br>
          </div>

          <div class="card-header">
            <h6 class=" title">ATTACKS THAT WE OFFER IN CRC CYBER RANGE FOR EDUCATIONAL PURPOSES</h6>

            <p-accordion >
              <!-- 1. for loop over variable -->
              <!-- For each, create p-accordionTab -->
              <div>
              <p-accordionTab *ngFor="let e of variable;"header="{{e.AttackTitle}}"  align="justify">
               {{e.AttackDescription}}
              </p-accordionTab>
              </div>
            </p-accordion>
            


          </div>
          &nbsp;
          </div>

      <!--  <div class=" card-body all-icons">
          <div class=" row">
            <div
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >

              <div class=" font-icon-detail"  (click)="open(brutefrc_mdl)">

                <div class=" col-md-12">

                      <h5 class=" title">CRC CYBER RANGE</h5>

                </div>
                <p>

                <a class="disabled" style="cursor: pointer">Brute Force Attack</a>
                </p>


              </div>
            </div>
            <div
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail"(click)="open(cmd_mdl)">
                <i class=" tim-icons icon-laptop"> </i>
                <p>
                <a  class="disabled" style="cursor: pointer" (click)="open(cmd_mdl)">COMMAND EXECUTION</a>
                </p>
              </div>
            </div>
            <div
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail" (click)="open(csrf_mdl)">
                <i class=" tim-icons icon-laptop"> </i>
                <p>
                  <a class="disabled" style="cursor: pointer" (click)="open(csrf_mdl)"class="stretched-link">CSRF</a></p>
              </div>
            </div>
            <div
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail"(click)="open(fileinclusion_mdl)">
                <i class=" tim-icons icon-laptop"> </i>
                <p>
                  <a class="disabled" style="cursor: pointer" (click)="open(fileinclusion_mdl)"class="stretched-link">FILE INCLUSION</a></p>
              </div>
            </div>
            <div
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail"(click)="open(fileupload_mdl)">
                <i class="tim-icons icon-laptop"> </i>
                <p>
                  <a class="disabled" style="cursor: pointer" (click)="open(fileupload_mdl)"class="stretched-link">FILE UPLOAD</a></p>
              </div>
            </div>
            <div
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail" (click)="open(sql_mdl)">
                <i class=" tim-icons icon-laptop"> </i>
                <p>
                  <a class="disabled" style="cursor: pointer" (click)="open(sql_mdl)"class="stretched-link">SQL INJECTION </a></p>
              </div>
            </div>
            <div
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail" (click)="open(sqlbnd_mdl)">
                <i class=" tim-icons icon-laptop"> </i>
                <p>
                  <a class="disabled" style="cursor: pointer" (click)="open(sqlbnd_mdl)"class="stretched-link">SQL INJECTION [BLIND]</a></p>
              </div>
            </div>
            <div
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail" (click)="open(XSSDOM_mdl)">
                <i class=" tim-icons icon-laptop"> </i>
                <p>
                  <a class="disabled" style="cursor: pointer" (click)="open(XSSDOM_mdl)"class="stretched-link">XSS DOM</a></p>
              </div>
            </div>
            <div
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail" (click)="open(xssreflected_mdl)">
                <i class=" tim-icons icon-laptop"> </i>
                <p>
                <a  class="disabled" style="cursor: pointer" (click)="open(xssreflected_mdl)"class="stretched-link">XSS REFLECTED
                </a>
                </p>
              </div>
            </div>
            <div
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail" (click)="open(xssstored_mdl)">
                <i class="tim-icons icon-laptop"> </i>
                <p>
                  <a  class="disabled" style="cursor: pointer" (click)="open(xssstored_mdl)"class="stretched-link">XSS STORED</a></p>
              </div>
            </div>
            <div
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail" (click)="open(bufferoverrflow_mdl)">
                <i class=" tim-icons icon-laptop"> </i>
                <p>
                  <a  class="disabled" style="cursor: pointer" (click)="open(bufferoverrflow_mdl)"class="stretched-link">BUFFER OVERFLOW</a></p>
              </div>

          </div>
            <div  (click)="open(brute_mdl)"
              class=" font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6"
            >
              <div class=" font-icon-detail stretched-link">
                <i class=" tim-icons icon-laptop " (click)="open(brute_mdl)"> </i>
                <p>


                <a class="disabled" style="cursor: pointer">PRIVLAGED ESSCLATION</a>
                </p>
              </div>
            </div>
        </div>
      </div>-->

    </div>
  </div>
</div>
</div>


<!*************************************************************************************************************-->

<!--Brutforce attacl ---&ndash;&gt;
<ng-template #brutefrc_mdl let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="bruteforce-mdl">Brute Force Attack</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p align="justify">A brute force attack is a trial-and-error method used to obtain information
      such as a user password or personal identification number (PIN). In a brute force attack,
      automated software is used to generate a large number of consecutive guesses as to the value
      of the desired data. Brute force attacks may be used by criminals to crack encrypted data, or
      by security analysts to test an organization's network security.
      A brute force attack is also known as brute force cracking or simply brute force.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')" style="width: 500px">Ok</button>
  </div>
</ng-template>
<!*************************************************************************************************************-->
<!--CSRF---&ndash;&gt;
<ng-template #csrf_mdl let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="cmdexu-mdl">Cross-Site Request Forgery (CSRF)</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p align="justify">Cross-Site Request Forgery (CSRF) is a type of attack that occurs when a malicious web site,
      email, blog, instant message, or program causes a user’s web browser to perform an unwanted action
      on a trusted site when the user is authenticated. A CSRF attack works because browser requests
      automatically include any credentials associated with the site, such as the user’s session cookie,
      IP address, etc. </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')" style="width: 500px">OK</button>
  </div>
</ng-template>
<!*************************************************************************************************************-->
<!--FILE INCLUSION---&ndash;&gt;
<ng-template #fileinclusion_mdl let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="fileinclusion">FILE INCLUSION VULNERABILITY</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p align="justify">A file inclusion vulnerability is a type of web vulnerability that is most commonly found to
      affect web applications that rely on a scripting run time. This issue is caused when an application
      builds a path to executable code using an attacker-controlled variable in a way that allows the attacker
      to control which file is executed at run time. A file include vulnerability is distinct from a generic
      directory traversal attack, in that directory traversal is a way of gaining unauthorized file system access,
      and a file inclusion vulnerability subverts how an application loads code for execution.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')" style="width: 500px">OK</button>
  </div>
</ng-template>
<!*************************************************************************************************************-->
<!--FILE UPLOAD---&ndash;&gt;
<ng-template #fileupload_mdl let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="fileupload">FILE UPLOAD VULNERABILITY</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p align="justify" style="color: black">A local file upload vulnerability is a vulnerability where an application
      allows a user to upload a malicious file directly which is then executed.
    </p>
    <p align="justify">
      A remote file upload vulnerability is a vulnerability where an application
      uses user input to fetch a remote file from a site on the Internet and
      store it locally. This file is then executed by an attacker.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')" style="width: 500px">OK</button>
  </div>
</ng-template>
<!*************************************************************************************************************-->
<!--SQL INJECTION---&ndash;&gt;
<ng-template #sql_mdl let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="sql">SQL INJECTION</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p align="justify">An SQL injection is a computer attack in which malicious code is embedded in a
      poorly-designed application and then passed to the backend database.
      The malicious data then produces database query results or actions that should never have been executed.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')" style="width: 500px">OK</button>
  </div>
</ng-template>
<!*************************************************************************************************************-->
<!--SQL INJECTION BLIND---&ndash;&gt;
<ng-template #sqlbnd_mdl let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="sqlblind">SQL INJECTION ( BLIND )</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p align="justify">Blind SQL injection arises when an application is vulnerable to SQL
      injection, but its HTTP responses do not contain the results of the
      relevant SQL query or the details of any database errors.

      With blind SQL injection vulnerabilities, many techniques such as UNION
      attacks are not effective, because they rely on being able to see the results of
      the injected query within the application's responses.
      It is still possible to exploit blind SQL injection to access unauthorized
      data, but different techniques must be used.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')" style="width: 500px">OK</button>
  </div>
</ng-template>
<!*************************************************************************************************************-->
<!--XSS DOM---&ndash;&gt;
<ng-template #XSSDOM_mdl let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="XSSSDOM">XSS DOM</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p align="justify">DOM XSS stands for Document Object Model-based Cross-site
      Scripting. A DOM-based XSS attack is possible if the web
      application writes data to the Document Object Model without proper sanitization.
      The attacker can manipulate this data to include XSS content
      on the web page, for example, malicious JavaScript code.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')" style="width: 500px">OK</button>
  </div>
</ng-template>
<!*************************************************************************************************************-->
<!--XSS REFLECTED---&ndash;&gt;
<ng-template #xssreflected_mdl let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="xssreflected">XSS REFLECTED</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p align="justify">A reflected XSS (or also called a non-persistent XSS attack) is a specific
      type of XSS whose malicious script bounces off of another website to the victim’s
      browser. It is passed in the query, typically, in the URL. It makes exploitation as easy
      as tricking a user to click on a link.

      Compared to stored XSS, non-persistent XSS only require the malicious script to be added to a link and that a user clicks on it.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')" style="width: 500px">OK</button>
  </div>
</ng-template>
<!*************************************************************************************************************-->
<!--XSS STORED---&ndash;&gt;
<ng-template #xssstored_mdl let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="xssstored">XSS STORED</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p align="justify">Stored attacks are those where the injected script is permanently stored on
      the target servers, such as in a database, in a message forum, visitor log,
      comment field, etc. The victim then retrieves the malicious script from the server when
      it requests the stored information. Stored XSS is also sometimes referred to as Persistent or Type-I XSS</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')" style="width: 500px">OK</button>
  </div>
</ng-template>
<!*************************************************************************************************************-->
<!--BUFFER OVERFLOW---&ndash;&gt;
<ng-template #bufferoverrflow_mdl let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="bufferflow">BUFFER OVERFLOW</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p align="justify">A buffer overflow condition exists when a program
      attempts to put more data in a buffer than it can hold
      or when a program attempts to put data in a memory area
      past a buffer. In this case, a buffer is a sequential section
      of memory allocated to contain anything from a character string
      to an array of integers. Writing outside the bounds of
      a block of allocated memory can corrupt data, crash the program,
      or cause the execution of malicious code.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')" style="width: 500px">OK</button>
  </div>
</ng-template>
<!*************************************************************************************************************-->
<!--COMMAND EXECUTION---&ndash;&gt;
<ng-template #cmd_mdl let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="cmd">COMMAND EXECUTION / INJECTION</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p align="justify">Command injection is an attack in which the goal is execution of arbitrary commands on
      the host operating system via a vulnerable application. Command injection attacks are possible
      when an application passes unsafe user supplied data (forms, cookies, HTTP headers etc.) to a
      system shell. In this attack, the attacker-supplied operating system commands are usually executed
      with the privileges of the vulnerable application.
      Command injection attacks are possible largely due to insufficient input validation.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')" style="width: 500px">OK</button>
  </div>
</ng-template>
<!*************************************************************************************************************-->
<!-- Privlages Esscelation --->
<!--<ng-template #brute_mdl let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="wack-mdl">PRIVLAGED ESSCLATION </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p align="justify">PPrivilege escalation happens when a malicious user of an
      account or application gains access to the privileges of another
      user account in the target system. The attacker can then use the
      newly gained privileges to steal confidential data, run administrative
      commands or deploy malware – and potentially do serious damage to your
      operating system, server applications, organization, and reputation.
      In this blog post, we will look at typical privilege escalation scenarios
      and learn how you can protect user accounts in your systems and
      applications to maintain a good security posture. </p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')" style="width: 500px">OK</button>
  </div>
</ng-template>
-->
